body {
    background-color: #85add1;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

img {
    display: block;
    margin: 0 auto;
}

table {
    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #65a5dc;
}

td {
    padding: 0;
}

.highlight {
    font-size: 125%;
    font-weight: bold;
    font-style: italic;
}

h1 {
    color: #ffbb00;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
}

h2 {
    color: #033536;
    font-size: 30px;
    padding: 10px;
    padding-left: 25px;
    margin: 0;
    border-top: 2px solid #033536;
}

h3 {
    color: #033536;
    font-size: 28px;
    padding: 30px;
    margin-top: 0px;
}

li {
    background-color: #b5cfe5;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.tourist-ul {
    display: flex;
    justify-content: center;
    padding-left: 35px;
}

.tourist-li {
    padding: 10px;
    font-size: 17px;
}

.puffin {
    width: 370px;
    border-radius: 12px;
    border: 3px solid black;
    margin-top: 60px;
}

.hoy {
    height: 380px;
    border-radius: 12px;
    border: 3px solid black;
    margin-bottom: 30px;
}

.neolithic {
    width: 700px;
    border-radius: 12px;
    border: 3px solid black;
    margin-bottom: 30px;
}

.brodgar-frame {
    width: 380px;
    height: 500px;
    background-color: #b5cfe5;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.brodgar-img {
    width: 85%;
    height: 450px;
    border-radius: 50px;
    box-shadow: 0 0 15px #000000;
    transition: transform 0.4s ease;
}

.brodgar-img:hover {
    transform: scale(1.08) rotate(5deg);
}

.northernlights-frame {
    width: 450px;
    height: 550px;
    background-color: #b5cfe5;
    border-radius: 50px;
}

.northernlights-img {
    width: 90%;
    border-radius: 50px;
    box-shadow: 0 0 15px #000000;
    transition: transform 0.4s ease;
}

.northernlights-img:hover {
    transform: scale(1.08) rotate(5deg);
}

.autumn-frame {
    width: 360px;
    height: 460px;
    background-color: #b5cfe5;
    border-radius: 50px;
}

.autumn-img {
    width: 85%;
    height: 420px;
    border-radius: 50px;
    box-shadow: 0 0 15px #000000;
    transition: transform 0.4s ease;
}

.autumn-img:hover {
    transform: scale(1.08) rotate(-5deg);
}